@import url('http://fonts.cdnfonts.com/css/catamaran');

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Catamaran', sans-serif;
	margin: 0px;
	color: #E7E7E7;
	background-color: rgb(13, 17, 20);
}

header{
	z-index: 1;
	position: fixed;
	height: 64px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(90deg, rgba(27, 93, 41, 0.3) 0%, rgba(8, 25, 18, 0.3) 75%, rgba(1, 33, 15, 0.6) 100%);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

header div{
	display: flex;
	justify-content: flex-start;
}

main{
	height: 2000px;
}

footer{
	background-image: url("./img/footer_lines.png");
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
}

footer .title{
	padding-top: 12vw;
}

#nav_container{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav_container li{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0px 16px;
}

#nav_container li a{
	margin-top: 8px;
	display: flex;
	color: #E7E7E7;
	text-decoration: none;
	white-space: nowrap;
	font-size: 28px;
}

#nav_container li div{
	background-color: #FDFDFD;
	height: 2px;
	width: 0%;
	margin-left: 50%;
	transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
}

#nav_container li:hover > div{
	margin-left: 0%;
	width: 100%;
	visibility: visible;
}

#nav_container li:active > a img:nth-child(1){
	padding-top: 5px;
}

#nav_container li a img{
	height: 32px;
	padding-top: 7px;
	padding-right: 6px;
}

#nav_container li h1{
	z-index: -1;
	margin-left: 40px;
	margin-top: 12px;
	font-size: 28px;
	white-space: nowrap;
	position: absolute;
	font-weight: 400;
	-webkit-text-fill-color: rgba(0, 0, 0, 0.6);
	filter: blur(2px);
}

#main_logo{
	padding-left: 4px;
	height: 64px;
}

#main_logo:hover{
	content: url("./img/lg_logo_sel.png");
}

#main_logo:active{
	content: url("./img/lg_logo_act.png");
}

#page{
	background-image: url("./img/background_lines.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#colorful_zone{
	display: flex;
	justify-content: space-evenly;
	padding-top: 14vw;
}

#lerog_logo_container{
	height: 16vw;
}

#lerog_logo{
	height:inherit;
	margin: 3vw 5vw 0vw 5vw;
}

#welcome_text{
	z-index: 0;
	height:inherit;
	margin: 3.4vw 6vw 0vw 0.2vw;
	font-size: 1.75vw;
	font-weight: 400;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(48, 83, 63, 0.5);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 1vw;
	border: 0.12vw solid rgba(255, 255, 255, 0.18);
}

#welcome_text p{
	text-align: center;
	margin: 1vw 1.2vw;
}

#ctc{
	margin: 3vw 0vw 7vw 6vw;
	display: flex;
	justify-content: flex-start;
}

#ctc div{
	margin: 0vw 2vw;
}

#ctc div h2{
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
}

#ctc div a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#ctc1{background: linear-gradient(to right, #9FDB45 0%, #95D746 100%);}
#ctc2{background: linear-gradient(to right, #95D746 0%, #85D047 100%);}
#ctc3{background: linear-gradient(to right, #85D047 0%, #77CB48 100%);}
#ctc4{background: linear-gradient(to right, #77CB48 0%, #69C44B 100%);}
#ctc5{background: linear-gradient(to right, #69C44B 0%, #5ABF4B 100%);}

#ctc1:hover{
	background: linear-gradient(to top, #4487eb 0%, #5ea9ff 90%);
	-webkit-background-clip: text;
}

#ctc2:hover{
	background: linear-gradient(to top, #404EED 0%, #6673ff 70%);
	-webkit-background-clip: text;
}

#ctc3:hover{
	background: linear-gradient(to top, #bb1116 0%, #E52D27 70%);
	-webkit-background-clip: text;
}

#ctc4:hover{
	background: linear-gradient(to top, #00ACED 0%, #1DCAFF 70%);
	-webkit-background-clip: text;
}

#ctc5:hover{
	background: linear-gradient(to top, #9230aa 0%, #b943d1 70%);
	-webkit-background-clip: text;
}

#info{
	display: flex;
	justify-content: space-between;
	padding: 2px 10px;
	background-color: #151B24;
}

#info a, #info div{
	font-size: 18px;
	color: #475253;
}

#info a:hover{
	background: linear-gradient(to bottom, #CCFFFA 0%, #5EC9FF 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shadow{
	z-index: -1;
	margin-top: 4px;
	position: absolute;
}

.nav_text{
	background: linear-gradient(to bottom, #FFFFFF 0%, #C9CAC9 100%);
	font-weight: 400;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.glass_text{
	font-weight: 300;
	text-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 0.3);
}

.fr_flag:hover{
	content: url("./img/lang/fr_flag_sel.png");
}

.fr_flag:active{
	content: url("./img/lang/fr_flag_act.png");
}

.en_flag:hover{
	content: url("./img/lang/en_flag_sel.png");
}

.en_flag:active{
	content: url("./img/lang/en_flag_act.png");
}

.es_flag:hover{
	content: url("./img/lang/es_flag_sel.png");
}

.es_flag:active{
	content: url("./img/lang/es_flag_act.png");
}

.title{
	display: flex;
	margin-left: 8vw;
}

.title img{
	margin: 8px 8px 0px 0px;
	height: 32px;
}

.title h1{
	margin: 0;
	font-weight: 400;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.6),
	only screen and (-moz-min-device-pixel-ratio: 1.6),
	only screen and (-o-min-device-pixel-ratio: 1.6/1),
	only screen and (min-device-pixel-ratio: 1.6),
	only screen and (min-resolution: 1.6dppx) {
	header {
		zoom: 85%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5),
	only screen and (-moz-min-device-pixel-ratio: 3.5),
	only screen and (-o-min-device-pixel-ratio: 3.5/1),
	only screen and (min-device-pixel-ratio: 3.5),
	only screen and (min-resolution: 3.5dppx) {
	header {
		zoom: 50%;
	}
}